<h1 class="fs-2 fw-semibold mb-4">Manage Blogs</h1>
<p class="text-muted fs-6 my-4">View and manage blogs you are authorized to access based on your role and sector.</p>
<% if (blogs.length === 0) { %>
<p class="bg-light border border-2 border-secondary-subtle rounded-4 py-3 text-center"> No blogs available for you to manage.</p>
<% } else { %>
<div class="mt-4 d-flex flex-wrap gap-4">
  <% blogs.forEach(blog => { %>
      <div class="card shadow-sm" onclick="location.href='blog/<%= blog.id %>'" style="width: 20rem;">
        <img src="<%= blog.imageUrl %>" class="card-img-top cursor-pointer" alt="Blog Image" style="height: 200px; object-fit: cover;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title cursor-pointer">
            <%= blog.title.length > 50
                  ? blog.title.slice(0, 50) + '...' 
                  : blog.title %>
          </h5>
          <p class="card-text text-muted cursor-pointer">
            <%= blog.description.length > 100 
                  ? blog.description.slice(0, 100) + '...' 
                  : blog.description %>
          </p>
          <div class="mb-2">
            <span class="badge rounded-pill bg-success"><%= blog.sector %></span>
            <% if (blog.isPrivate) { %>
              <span class="badge rounded-pill bg-warning text-dark">Private</span>
            <% } else { %>
              <span class="badge rounded-pill bg-info text-dark">Public</span>
            <% } %>

            <% if (blog.isApproved) { %>
              <span class="badge rounded-pill bg-primary">Approved</span>
            <% } else { %>
              <span class="badge rounded-pill bg-secondary">Pending</span>
            <% } %>
          </div>
          <% if (blog.author) { %>
            <p class="mb-0 mt-auto text-muted small">By <strong><%= blog.author.name %></strong></p>
            <p class="text-muted small">on <%= blog.createdAt.toDateString() %></p>
          <% } %>
            <form method="POST" action="/api/user/delete-blog/<%= blog.id %>">
              <button class="btn btn-danger btn-sm w-100">Delete</button>
            </form>
        </div>
      </div>
  <% }) %>
</div>
<% } %>
