<h2 class="fs-2 fw-bold mb-4">Users List</h2>
<p class="text-muted fs-6 my-4">View and manage all registered users</p>
<div class="table-responsive">
  <table class="table table-hover table-bordered align-middle text-center text-sm" style="table-layout: fixed; width: 100%;">
    <thead class="table-secondary text-uppercase text-muted small">
      <tr>
        <th>S. No.</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="cursor-pointer">
      <% users.forEach((u,i) => { %>
        <% if (!u.deletedAt) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= u.name %></td>
            <td><%= u.email %></td>
            <td class="text-capitalize"><%= u.role %></td>
            <td>
              <% if((user.role === "superadmin" && ( u.role === "admin" || u.role === "user")) || (user.role == "admin" && u.role === "user")) { %>
                <div class="d-flex justify-content-center gap-2 my-1">
                  <a href="/user/edit-user/<%= u.id %>">
                    <button type="submit" class="btn px-3 btn-warning btn-sm">
                      Edit
                    </button>
                  </a>
                  <form action="/api/user/delete-user" method="POST" class="d-inline">
                    <input type="hidden" name="id" value="<%= u.id %>">
                    <button type="submit" class="btn px-3 btn-danger btn-sm">
                      Delete
                    </button>
                  </form>
                </div>
              <% } else { %>
                <p class="text-muted px-5 my-1">N/A</p>
              <% } %>
            </td>
          </tr>
        <% } %>
      <% }); %>
    </tbody>
  </table>
</div>
